body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
a {
    color: #e6a563;
}
header {
    background-color: #efefef;
    padding-left: 50px;
    padding-right: 50px;
}
header a {
    text-decoration: none;
    color: #000
}
header a:hover {
    color: #e6a563;
}
h2 {
    text-align: center;
}
header .container {
    padding: 10px;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header img {
    width: 250px;
    margin-right: auto;

}
header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.button {
    background-color: #e6a563;
    border-radius: 10px;
    padding: 5px 10px;
}
.button:hover {
    background-color: #fff;
}
nav li {
    margin: 0 1em;
}
footer {
    text-align: center;
    background-color: #D9D9D9;
    padding: 20px;
}
footer img {
    width: 35px;
}
.community {
    display: grid;
    height: 860px;
}

.event-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.featured {
    width: 100%;
    margin: 0px auto;
}

.row {
    margin-left: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
}

.row:last-of-type .event-block {
    display: grid;
    grid-template-rows: 200px 300px;
    grid-template-columns: 300px;
    width: 300px;
    text-align: center;
}

.col {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.featured:first-of-type .block {
    width: 480px;
}

.col img {
    height: 210px;
}

.featured img {
    height: 300px;
}

span {
    color: grey;
}